In [103]:
# Universidad Politécnica de San Luis Potosí
# Práctica 3 - Práctica Python Introducción a Python con Jupyter Notebooks
# Brayan Adrián Galván Flores - 181112

In [125]:
import pandas as pd
import numpy as np
import seaborn as sns

ERROR! Session/line number was not unique in database. History logging moved to new session 11

In [126]:
# Importar confusion_matrix
# Permite visualizar el rendimiento de los modelos de aprendizaje automático de clasificación.
from sklearn.metrics import confusion_matrix

In [127]:
# Importar classification_report
# Mide la calidad de las predicciones a partir de un algoritmo de clasificación
from sklearn.metrics import classification_report

In [128]:
# Importar CategoricalNB [Naive Bayes]
# Representa una variable categórica
from sklearn.naive_bayes import CategoricalNB

In [129]:
# Leer archivo Titanic.csv
archivo=pd.read_csv('Titanic.csv', header=0)
print(archivo)

      pclass  survived     sex      age  sibsp  parch
0          3         1  female   0.1667      1      2
1          3         0    male   0.3333      0      2
2          3         1    male   0.4167      0      1
3          2         1    male   0.6667      1      1
4          3         1  female   0.7500      2      1
...      ...       ...     ...      ...    ...    ...
1041       1         0    male  71.0000      0      0
1042       1         0    male  71.0000      0      0
1043       3         0    male  74.0000      0      0
1044       1         1  female  76.0000      1      0
1045       1         1    male  80.0000      0      0

[1046 rows x 6 columns]

In [130]:
# Recodificación Edad
archivo.loc[archivo['age'] <= 18, 'age'] = 1
archivo.loc[archivo['age'] > 18 & (archivo['age'] <= 40), 'age'] = 2
archivo.loc[archivo['age'] > 40 & (archivo['age'] <= 60), 'age'] = 3
archivo.loc[archivo['age'] > 60, 'age'] = 4
print(archivo)

      pclass  survived     sex  age  sibsp  parch
0          3         1  female  3.0      1      2
1          3         0    male  3.0      0      2
2          3         1    male  3.0      0      1
3          2         1    male  3.0      1      1
4          3         1  female  3.0      2      1
...      ...       ...     ...  ...    ...    ...
1041       1         0    male  3.0      0      0
1042       1         0    male  3.0      0      0
1043       3         0    male  3.0      0      0
1044       1         1  female  3.0      1      0
1045       1         1    male  3.0      0      0

[1046 rows x 6 columns]

In [131]:
# Recodificación sibsp
archivo.loc[archivo['sibsp'] <= 0, 'sibsp'] = 1
archivo.loc[archivo['sibsp'] >= 1, 'sibsp'] = 2
sex_mapping_values = {"female":1,"male":2}
archivo.replace({'sex':sex_mapping_values},inplace=True)
print(archivo)

      pclass  survived  sex  age  sibsp  parch
0          3         1    1  3.0      2      2
1          3         0    2  3.0      2      2
2          3         1    2  3.0      2      1
3          2         1    2  3.0      2      1
4          3         1    1  3.0      2      1
...      ...       ...  ...  ...    ...    ...
1041       1         0    2  3.0      2      0
1042       1         0    2  3.0      2      0
1043       3         0    2  3.0      2      0
1044       1         1    1  3.0      2      0
1045       1         1    2  3.0      2      0

[1046 rows x 6 columns]

In [132]:
# Recodificación parch
archivo.loc[archivo['parch'] <= 0, 'parch'] = 1
archivo.loc[(archivo['parch'] >= 1), 'parch'] = 2
print(archivo)

      pclass  survived  sex  age  sibsp  parch
0          3         1    1  3.0      2      2
1          3         0    2  3.0      2      2
2          3         1    2  3.0      2      2
3          2         1    2  3.0      2      2
4          3         1    1  3.0      2      2
...      ...       ...  ...  ...    ...    ...
1041       1         0    2  3.0      2      2
1042       1         0    2  3.0      2      2
1043       3         0    2  3.0      2      2
1044       1         1    1  3.0      2      2
1045       1         1    2  3.0      2      2

[1046 rows x 6 columns]

In [133]:
# Archivo Recodificado
archivoRe = archivo

In [134]:
# Funcion train_test_split
from sklearn.model_selection import train_test_split

In [135]:
# Se seleccionan las variables y se guardan en un nuevo conjunto de datos.
archivoClean = archivo[['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch']]
archivoClean

      pclass  survived  sex  age  sibsp  parch
0          3         1    1  3.0      2      2
1          3         0    2  3.0      2      2
2          3         1    2  3.0      2      2
3          2         1    2  3.0      2      2
4          3         1    1  3.0      2      2
...      ...       ...  ...  ...    ...    ...
1041       1         0    2  3.0      2      2
1042       1         0    2  3.0      2      2
1043       3         0    2  3.0      2      2
1044       1         1    1  3.0      2      2
1045       1         1    2  3.0      2      2

[1046 rows x 6 columns]

In [136]:
archivoClean = archivo.dropna()
print(archivoClean)

      pclass  survived  sex  age  sibsp  parch
0          3         1    1  3.0      2      2
1          3         0    2  3.0      2      2
2          3         1    2  3.0      2      2
3          2         1    2  3.0      2      2
4          3         1    1  3.0      2      2
...      ...       ...  ...  ...    ...    ...
1041       1         0    2  3.0      2      2
1042       1         0    2  3.0      2      2
1043       3         0    2  3.0      2      2
1044       1         1    1  3.0      2      2
1045       1         1    2  3.0      2      2

[1046 rows x 6 columns]

In [137]:
# Partición al 30% con semilla de aleatorizacion en el numero 42
x_train, x_test = train_test_split(archivoClean, test_size=0.3, random_state=42)
# Se imprime el conjunto de prueba
x_test

      pclass  survived  sex  age  sibsp  parch
773        2         0    2  3.0      2      2
280        3         0    2  3.0      2      2
629        3         0    1  3.0      2      2
318        3         0    1  3.0      2      2
1008       1         1    2  3.0      2      2
...      ...       ...  ...  ...    ...    ...
615        1         1    2  3.0      2      2
420        2         0    2  3.0      2      2
929        1         1    2  3.0      2      2
281        3         0    2  3.0      2      2
266        3         0    1  3.0      2      2

[314 rows x 6 columns]

In [138]:
# Asignar la variable y_train la columna survived
y_train = x_train['survived']
y_train

494     1
449     0
355     0
450     0
937     0
       ..
330     1
466     1
121     1
1044    1
860     1
Name: survived, Length: 732, dtype: int64

In [139]:
# Quitar la variable de prueba
x_test = x_test[['pclass','sex','age','sibsp','parch']]
x_test

      pclass  sex  age  sibsp  parch
773        2    2  3.0      2      2
280        3    2  3.0      2      2
629        3    1  3.0      2      2
318        3    1  3.0      2      2
1008       1    2  3.0      2      2
...      ...  ...  ...    ...    ...
615        1    2  3.0      2      2
420        2    2  3.0      2      2
929        1    2  3.0      2      2
281        3    2  3.0      2      2
266        3    1  3.0      2      2

[314 rows x 5 columns]

In [140]:
#Se crea una instancia para CategoricalNB
ct = CategoricalNB()

In [141]:
#Se ejecuta la función fit con el conjunto de entrenamiento X e Y.
ct.fit(x_train, y_train)

CategoricalNB()

In [142]:
pronostico = ct.predict(x_test)
pronostico

c:\users\braya\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names seen at fit time, yet now missing:
- survived

  warnings.warn(message, FutureWarning)

ValueError: X has 5 features, but CategoricalNB is expecting 6 features as input.